<style>
    body {
      
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-brightness:5%;
      background-image:url("C:/Users/SNIPER-PHOTOGRAPHY/DESKTOP/HTML/lo.jpg")
    }


    header {
      background: rgba(0, 0, 0, 0.9);
      backdrop-filter:blur(1px);
      background-color: #black;
      color: #fff;
      padding-top:20px ;
      text-align: right ;
      background-image:url("C:/Users/SNIPER-PHOTOGRAPHY/DESKTOP/HTML/log1.jpg")
    }

    nav {
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter:blur(1px);
      color: #fff;
      padding: 10px 0;
      text-align:center ;
    }

    nav :hover  {
     color: green;
    }


    nav a {   
      color: #fff;
      text-decoration: none;
      margin: 0 15px;
    }

    
   section {
      padding: 50px;
      text-align: center;
     }

    .product {
      display: inline-block;
      margin: 0 20px;

   
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      display: inline;
      margin:20px;
      text-align:left;
    }

    nav ul li a {
      box-shadow: 32px 2px 44px white;
      position: center;     
      color: #fff; 
      font-weight: 400;
      font-size: 20px;
      padding: 6px;
      transition: 0.3s ease;
      border-radius: 20px 20px 20px

      
    }

    section {
      padding: 10px 0;
      color:#333;
      font-weight: bold;
      text-align: center;
    }

    .product {
      color:#FFF;
      background-color:RED;
      display: inline-block;
      margin:  20px;
      cursor: pointer;
      position: canter;
      padding: 0px;
      font-weight: bold;
      font-size: 16px;
      
    }

    h2 {
      cursor: pointer;
      color: #2b3856;
      position: center;
      font-weight: bold;
      font-size: 44px;
       
    }


    h3 {
      color:#f88017;
      background-color:;
      text-align: center;
      cursor: pointer;
      position: canter;
      font-weight: bold;
      font-size: 30px;
      transition: 0.5s ease;
      border-radius: 0 3px 3px 5px;
    }

     ol {
      background: rgba(0, 0, 0, 0.10);
      backdrop-filter:blur(1px);
      color:white;
      text-align:left;
      direction; rtl;
      list-style-position:inside	
      marging-botton:20px
      font-weight: 8;
      font-size: 12px;
      padding:55px ;
      
   }

   

   ol li {
       text-align:center;
       display:inline-block;
    
      
    }

    .booking-form {
      margin: auto;
      width: 50%;
      background-color:;
      padding: 10px;
      border-radius: 10px;
    }

    .booking-form label {
      display: block;
      margin-bottom: 0px;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      background-color: Black;
      align-items: center;
      color: #faf9f6;
      padding:30px;
      marging:0px;
      text-align: center;
    }
    .gallery-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;


    }

    .gallery-box :hover {
      color: red;
    }

    .gallery-item {
      width: 200px; 
      margin: 20px;
      border: 2px solid #f8801;
      padding: 10px;
      text-align: center;
      box-sizing: border-box;
  

    }

    .gallery-item img {
      max-width: 100%;
      height: auto;
    }

    .footer p {
      margin: 0;
    }

    .booking-form input[type="text"],
    .booking-form input[type="email"],
    .booking-form select {
      width: 50%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .booking-form input[type="text"],
    .booking-form input[type="email"],
    .booking-form select:hover {
      color: green;
  }

    .booking-form textarea {
      position:center;
      width: 100%;
      padding: 0px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .booking-form input[type="submit"] {
      background-color: #f88017;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
    }

    .booking-form input[type="submit"]:hover {
      background-color: green;
    }
</style>